.display {
  border: 10px solid gray;
  border-radius: 20px;
  width: 200px;
  margin: 50px auto 0 auto;
  padding: 0 40px;
  font-size: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
}
